<div class="photo-album-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="photo-search-form">
        <mat-form-field class="photo-search-input">
            <input name="first" ngModel required #first="ngModel" matInput placeholder="Search for pictures">
        </mat-form-field>
    </form>

    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let ph of photos; index as i;">
            <mat-grid-tile-header>{{ph.title}}</mat-grid-tile-header>
            <img src="{{ph.url_m}}">
            <mat-grid-tile-footer>
                <button mat-flat-button class="mat-primary">Like</button>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>
